/* Simple Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* Form Layout */
.form-wrapper {
    background: #fafafa;
    margin: 3em auto;
    padding: 0 1em;
    max-width: 370px;
}

h1 {
    text-align: center;
    padding: 1em 0;
}

h5{
    padding:1em 0;
}
form {
    padding: 0 1.5em;
}

.button-panel {
    margin: 2em 0 0;
    width: 100%;
}

.button-panel .button {
    background: #666;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
    width: 100%;
}

.button:hover {
    background: #666;
}

.ef .button {
    background: #666;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 25px;
    font-size: 0.8em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
    width:20%;
}

.cp_iptxt {
	width: 70%;
}
.cp_iptxt input[type='text'] {
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: 1px solid #ffffff;
	box-shadow: 1px 1px 2px 0 #707070 inset;
	border-radius: 4px;
}
.ef input[type='text']:focus {
	outline: none;
	box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}
.form-footer {
    font-size: 1em;
    padding: 2em 0;
    text-align: center;
}

.form-footer a {
    color: #8c8c8c;
    text-decoration: none;
    transition: border-color 0.3s;
}

.form-footer a:hover {
    border-bottom: 1px dotted #8c8c8c;
}

#header{
    height: 70px;/*高さ指定*/
    width:100%;/*横幅指定*/
    /*以下はレイアウトのためのCSS*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#333;
    color:#fff;
    text-align: center;
    padding: 20px;
}

/*JSを使いfixedクラスが付与された際の設定*/
#header.fixed{
    position: fixed;/*fixedを設定して固定*/
    z-index: 999;/*最前面へ*/
    top:0;/*位置指定*/
    left:0;/*位置指定*/
}


/*========= レイアウトのためのCSS ===============*/

h1{
    font-size:1.2rem;
}

h2{
    font-size:1.2rem;
    text-align: center;
    margin: 0 0 30px 0;
}

p{
    margin-top:20px;
}

small{
    background:#333;
    color:#fff;
    display: block;
    text-align: center;
    padding:20px;
}

section{
    padding:30px;
}

section:nth-child(2n){
    background:#f3f3f3;
}

.inline-radio {
    display: flex;
    border: 1px solid #b6b6b6;
}


div {
    position: relative;
    flex: 1;
}

.inline-radio input {
    width: 100%;
    height: 60px;
    opacity:0;
}

label {
    position: absolute;
    top: 0; left: 0;
    color: #b6b6b6;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    border-right: 1px solid #b6b6b6;
}

input:checked + label {
    background: #666;
    font-weight: 500;
    color: #fff;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: #666;
    padding:10px;
    transition:all 0.3s;
}

nav ul li.current a,
nav ul li a:hover{
    color:#fff;
}

section{
    padding:30px;
}

section:nth-child(2n){
    background:#f3f3f3;
}