<!DOCTYPE HTML>
<head>
    <meta charset="utf-8">
    <title>アカウント作成</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="form-wrapper">
    <h1>Sign Up</h1>
    <form action="/signup" method="post">
        <div class="form-item">
            <label for="name"></label>
            <input type="name" name="name" required="required" placeholder="name" id="name">
        </div>
        <div class="form-item">
            <label for="mail"></label>
            <input type="mail" name="mail" required="required" placeholder="mail" id="mail">
        </div>
        <div class="form-item">
            <label for="password"></label>
            <input type="password" name="password" required="required" placeholder="password" id="password">
        </div>
        <div class="button-panel">
            <input type="submit" class="button" title="Sign Up" value="Signup" onclick="location.href='index.html'">
        </div>
    </form>
    <div class="form-footer">
        <p><a href="#">自分の名前を忘れた</a></p>
    </div>
</div>
</body>